VITE_SUPABASE_URL=https://crqjbrlssdxdvykrnmpz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNycWpicmxzc2R4ZHZ5a3JubXB6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5MzkyMzMsImV4cCI6MjA5MTUxNTIzM30.ICEdc_smMPxIplFYpO4SBRxOlFxxFYiAzux0ZsLAncc
